{# Embed Form #}
<div class="firstrow">
    <div class="enter-title">
        <ul>
            <li>{{ form_label(form.title) }}</li>
            <li> {{ form_errors(form.trailer) }}</li>
            <li>{{ form_widget(form.title) }} </li>
        </ul>
    </div>
    <div class="enter-trailer">
        <ul>
            <li>{{ form_label(form.trailer) }}</li>
            <li>{{ form_errors(form.trailer) }}</li>
            <li>{{ form_widget(form.trailer) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="scndrow">
    <div class="enter-review">
        <ul>
            <li>{{ form_label(form.review) }}</li>
            <li>{{ form_errors(form.review) }}</li>
            <li>{{ form_widget(form.review) }}</li>
        </ul>

    </div>
    <div class="clear"></div>
</div>
<div class="fourthrow">
    <div class="enter-emotions">
        <ul>
            <li>{{ form_label(form.emotions) }}</li>
            <li>{{ form_errors(form.emotions) }}</li>
            <li>{{ form_widget(form.emotions) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="fithrow">
    <div class="enter-Year">
        <ul>
            <li>{{ form_label(form.yearEvents) }}</li>
            <li>  {{ form_errors(form.yearEvents) }}</li>
            <li> {{ form_widget(form.yearEvents) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="sixthrow">
    <div class="enter-Place">
        <ul>
            <li>{{ form_label(form.ActionPlaces) }}</li>
            <li> {{ form_errors(form.ActionPlaces) }}</li>
            <li> {{ form_widget(form.ActionPlaces) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="enter-rest">
    <div class="enter-rest-left">
        <ul>
            <li> {{ form_label(form.year) }}</li>
            <li>  {{ form_errors(form.year) }}</li>
            <li>  {{ form_widget(form.year) }}</li>
        </ul>
    </div>
    <div class="enter-rest-right">
        <ul>
            <li>{{ form_label(form.country) }}</li>
            <li>  {{ form_errors(form.country) }}</li>
            <li>{{ form_widget(form.country) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="enter-rest2">
    <div class="enter-rest-left">
        <ul>
            <li> {{ form_label(form.gender) }}</li>
            <li>  {{ form_errors(form.gender) }}</li>
            <li>  {{ form_widget(form.gender) }}</li>   
        </ul>
    </div>
    <div class="enter-rest-right">
        <ul>
            <li>{{ form_label(form.brainy) }}</li>
            <li>  {{ form_errors(form.brainy) }}</li>
            <li> {{ form_widget(form.brainy) }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>  
<div class="enter-rest2">
    <div class="enter-rest-left">
        <ul>
        <li> {{ form_label(form.wellKnown) }}</li>
        <li>  {{ form_errors(form.wellKnown) }}</li>
        <li>  {{ form_widget(form.wellKnown) }}</li>   
        </ul>
    </div>
    <div class="enter-rest-right">
        <ul>
          <li> {{ form_label(form.file) }}</li>
        <li>  {{ form_errors(form.file) }}</li>
        <li>  {{ form_widget(form.file) }}</li> 
        </ul>
    </div>
    <div class="clear"></div>
</div> 











